body>div,
body>div>div,
body>div>div>div,
body>div>div>div>div.Register {
    height: 100%;
}




* {
    //position: absolute;
    margin: 0vw;
    padding: 0vw;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    position: absolute;
    display: table;
    content: '';
    width: 100%;
}

.clearfix:after {
    clear: both;
}


body {
    position: absolute;
    width: 100%;
    margin: 0;
    //height: 1600px;
    /*
    padding: 0;
    background-image: url("../assets/backgroundimg.jpg");
    background-size: cover;
    //background-color:red;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
*/
    background: #E2e2e2;
    color: #333;
    font-weight: normal;
    font-size: 1em;
    font-family: 'Roboto', Arial, sans-serif;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none;
}

::-moz-placeholder {
    color: #666;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #666;
    font-weight: 300;
}

.grid .col2 {
    width: 100%;
    padding: 0 10vw 0 0;
}

.grid .col2.first {
    float: left;

}

.grid .col2.last {
    float: right;
}

.grid .col3 {
    width: 23%;
    float: left;
    margin-right: 11vw;
}

.grid .col3.first {
    margin-left: 0;
    float: left;
}

.grid .col3.last {
    margin-right: 0;
    float: right;
}

.grid .col3.lastlast {
    margin-right: 0;
    float: right;
}

/* profile page */
/*
.container {
    //  padding: 6vw 5vw 7vw;
}
*/
.innerwrap {
    width: 100%;
    margin: 0 auto;
}

.section1 {
    background: #fff;
    position: relative;
    border-radius: 2vw;
}

.section1 div .row:first-child {
    padding: 2vw;
}



.section1 .col2.first {
    line-height: 2vw;
    position: relative;
    border-right: 1vw solid #a2a2a2;
}

.section1 .col2.first h1 {
    font-weight: normal;
    margin-top: 3vw;
    text-transform: capitalize;
    // margin-left: 7vw;
}

.section1 .col2.first p {
    font-size: 2vw;
}

.section1 .col2.first span {
    position: absolute;
    right: 15vw;
    top: 16vw;
    background: #6AAFEA;
    padding: 5vw;
    font-size: 2vw;
    line-height: 1vw;
    border-radius: 2vw;
    color: #fff;
    cursor: pointer;
}

.section1 .col2.last {
    padding: 1vw 0;
}

.section1 .col2.last .col3 span {
    color: #a2a2a2;
    font-size: 2vw;
}



.section1 .col2.last .col3 {
    text-align: center;
    line-height: 5vw;
    border-right: 1px solid #ccc;
}

.section1 .col2.last .col3.last {
    border-right: 0;
}

.row2tab li {
    list-style: none;
    float: left;
    width: 12.5vw;
    padding: 1.8vw;
    font-size: 1.1vw;
    text-align: center;
    cursor: pointer;
    background: #f1f1f1;
    color: #555;
    border-bottom: 1vw solid #f1f1f1;
    //border: 5px solid red;
}

#b1:active {
    // color: black;
    border-bottom: 1vw solid #6AAFEA;
    border-radius: 0 0 1vw 1vw;
    color: #6AAFEA;
}

#b2:active {
    // color: black;
    border-bottom: 1vw solid #6AAFEA;
    border-radius: 0 0 1vw 1vw;
    color: #6AAFEA;
}

#b3:active {
    // color: black;
    border-bottom: 1vw solid #6AAFEA;
    border-radius: 0 0 1vw 1vw;
    color: #6AAFEA;
}

#b4:active {
    // color: black;
    border-bottom: 1vw solid #6AAFEA;
    border-radius: 0 0 1vw 1vw;
    color: #6AAFEA;
}

#b5:active {
    // color: black;
    border-bottom: 1vw solid #6AAFEA;
    border-radius: 0 0 1vw 1vw;
    color: #6AAFEA;
}



.row2tab li i {
    margin-right: 0px;
    font-size: 2vw;
}



section.section2 {
    margin: 1vw 0;
}

.section2 .col3 {
    width: 30%;
    margin-right: 60vw;
    background: #fff;
    border-radius: 2vw;
}

.section2 .postcont img {

    width: 100%;
}

.section2 .profileinfo {
    text-align: center;
    padding: 0 10vw 30vw;
    color: #555;
    font-size: 14vw;
    line-height: 25vw;
}

.section2 .profileinfo img {
    border-radius: 50%;
    width: 80vw;
    padding: 2vw;
    border: 3px solid #6AAFEA;
    margin-top: -48vw;
    margin-bottom: 18vw;
}

.section2 .col3.center .profileinfo img {
    border: 3vw solid #FB4C22;

}

.section2 .profileinfo p {
    text-align: justify;
}

.section2 .profileinfo span {
    margin-top: 15vw;
    display: block;
    text-align: left;
    color: #6AAFEA;
    cursor: pointer;
}

.section2 .profileinfo span i {
    margin-left: 10vw;
}

@media only screen and (max-width: 1300vw) {
    .innerwrap {
        width: 90%;
    }

    .section2 .col3 {
        margin-right: 5%;
    }

    .section1 .grid .col3 {
        margin-right: 2%;
    }

    .section1 .col2.last .col3.last {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1060vw) {
    .section1 .col2 {
        width: 100%;
        border-right: 0 !important;
        padding: 0;
    }
}

@media only screen and (max-width: 60vw) {
    .section2 .col3 {
        width: 100%;
        float: none !important;
        margin-bottom: 5vw;
    }

    .row2tab li {
        width: 50%;
        text-align: left;
    }

    .section1 .col2.first {
        text-align: center;
    }

    .section1 .col2.first img {
        display: inline-block;
        float: none;
    }

    .section1 .col2.first span {
        position: relative;
        right: 0;
    }

    .section1 .col2.last {
        margin-top: 2vw;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        padding: 8vw 5vw 7vw;
    }

    .row2tab li {
        width: 100%;
        text-align: left;
    }

    .section1 .col2.last .col3 span {
        font-size: 2vw;
    }

    .section1 .col2.last .col3 h1 {
        font-size: 2vw;
    }

}

.loginBackgroundimg_2 {
    top: 8vw;
    width: 100%;
    height: 50vw;
    z-index: -1;
}

.login-bg-filter_2 {
    position: absolute;
    top: 8vw;
    height: 50vw;
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    padding: 0;
    text-align: center;
    z-index: 0;
}