

.home-bg{
  position: absolute;
  top: 8vw;
  height: 100vw;
  width: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("../assets/backgroundimg.jpg");
  /* filter: blur(0.3vw);
  -webkit-filter: blur(0.3vw); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg-filter {
  position: absolute;
  top: 8vw;
  height: 43.5vw;
  width: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  padding: 0;
  text-align: center;
  z-index: 0;
}

.home-slogan{
  position: absolute;
  width: 100%;
  top: 12vw;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.home-content{

}

