body > div,
body > div > div,
body > div > div > div,
body > div > div > div > div.Register {
  height: 100%;
}

.registerBox{
  display: block;
  overflow: auto;
  position: absolute;
  height:60vh;
  width: 40vw;
  left:50%;
  top:55%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding:3% 5%;
  border-radius: 20px;
}
.registerBackgroundimg{
  position: fixed;
  width: 100vw;
  height: auto;
  opacity: 0.8;
}
