.footer-container {
  position: relative;
  margin: 1vw auto;
  width: 90%;
}

.site-footer
{
  background-color:#26272b;
  padding: 2vw 0;
  font-size: 1.5vw;
  line-height: 2vw;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity: 0.5
}

.site-footer h6
{
  color:#fff;
  font-size:2.5vw;
  text-transform:uppercase;
  margin-bottom: 1vw;
  letter-spacing: 0.05em;
}
.site-footer a
{
  color:#737373;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer
{
  text-align:center
}
.copyright-text
{
  text-align: center;
}
.row{
  padding: 0 5%;
}
/* @media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom: 0;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer 
  {
    text-align:center
  }
} */